.body {
	-fx-background-color: Firebrick;
}

.section {
	-fx-background-color: lightgrey; 
	-fx-background-radius: 5; 
	-fx-border-radius: 5; 
	-fx-padding: 12;
}


.body {
	-fx-background-color: Firebrick;
}

.mainHeader {
	-fx-background-color: Firebrick;
}

.text {
	-fx-background-color: white; 
	-fx-background-radius: 5; 
	-fx-border-radius: 5; 
	-fx-padding: 12;
}

.pageHeader {
	-fx-font: 30px Tahoma; 
	-fx-text-fill: Floralwhite;
}

.sectionHeader {
	-fx-font: 16px Tahoma; 
	-fx-font-weight: bolder; 
	-fx-text-fill: lightgray;
}

.infoHeader {
	-fx-font: 14px Tahoma; 
	-fx-font-weight: bold; 
	-fx-text-fill: black;
}

.button {
	-fx-background-color: rgba(0,0,0,0.08), linear-gradient(#9a9a9a, #909090),linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%); 
	-fx-background-insets: 0 0 -1 0,0,1; 
	-fx-background-radius: 5,5,4; 
	-fx-padding: 3 ; 
	-fx-text-fill: #242d35; 
	-fx-font-size: 8px;
}

.recipe {
	-fx-stroke: dimgrey; 
	-fx-background-color: thistle; 
	-fx-background-insets: 0,1,2; 
	-fx-background-radius: 3,2,1; 
	-fx-padding: 3 30 3 3; -fx-text-fill: black; 
	-fx-font-size: 14px;
}

.goHome {
	-fx-padding: 8 15 15 15; 
	-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0; 
	-fx-background-radius: 8; 
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c); 
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 ); 
	-fx-font-weight: bold; 
	-fx-font-size: 1.1em;
}
		
