.body {
	-fx-background-color: Firebrick;
}

.section {
	-fx-background-color: lightgrey; 
	-fx-background-radius: 5; 
	-fx-border-radius: 5; 
	-fx-padding: 12;
 	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 5 , 5 );
}

.smallBackground {
	-fx-background-color: white; 
	-fx-background-radius: 5; 
	-fx-border-radius: 5; 
	-fx-padding: 12;
 	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 5 , 5 );
}


.body {
	-fx-background-color: Firebrick;
}

.mainHeader {
	-fx-background-color: Firebrick;
}

.text {
	-fx-background-color: white; 
	-fx-background-radius: 5; 
	-fx-border-radius: 5; 
	-fx-padding: 12;
}

.pageHeader {
	-fx-font: 30px Tahoma; 
	-fx-text-fill: Floralwhite;
}

.sectionHeader {
	-fx-font: 16px Tahoma; 
	-fx-font-weight: bolder; 
	-fx-text-fill: lightgray;
}

.infoHeader {
	-fx-font: 14px Tahoma; 
	-fx-font-weight: bold; 
	-fx-text-fill: black;
}

.button {
	-fx-padding: 4 10 10 10;
    	-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    	-fx-background-radius: 8;
    	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a3132b 0%, #901228 100%), #9d2444, #d83a55, radial-gradient(center 50% 50%, radius 100%, #cd0000, #B22222);
   	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
   	-fx-font-size: 0.8em;
	-fx-text-fill: white;
}

.button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a3132b 0%, #901228 100%), #9d2444, #d83a55, radial-gradient(center 50% 50%, radius 100%, #ff4444, #B22222);
}

.button:pressed {
    -fx-padding: 6 10 8 10;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.recipe {
	-fx-stroke: dimgrey; 
	-fx-background-color: thistle; 
	-fx-background-insets: 0,1,2; 
	-fx-background-radius: 3,2,1; 
	-fx-padding: 3 30 3 3; -fx-text-fill: black; 
	-fx-font-size: 14px;
}

.goHome {
	-fx-padding: 8 15 15 15; 
	-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0; 
	-fx-background-radius: 8; 
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c); 
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 ); 
	-fx-font-weight: bold; 
	-fx-font-size: 1.1em;
}

.check-box .box {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    	-fx-background-insets: 0 0 -1 0, 0, 1, 2;
    	-fx-background-radius: 2, 2, 1, 1;
    	-fx-padding: 0.25em; 
    	-fx-background-color:  linear-gradient(from 0% 93% to 0% 100%, #a3132b 0%, #901228 100%), #9d2444, #d83a55,radial-gradient(center 50% 50%, radius 100%, #cd0000, #B22222);
    	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.check-box:selected .mark {
	-fx-background-color: white;
}

.recipeBox {
   	-fx-background-color: LightGray;
   	-fx-border-color: black;
    	-fx-border-radius: 10;
    	-fx-background-radius: 10;
   	-fx-padding: 10 10 10 10;
   	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 ); 
}	

.selectAllBox {
	-fx-font-weight: bold;
}

#searchField {
	-fx-font-size: 1.6em;
}

		
